<div class="container">
  <nav aria-label="Page navigation example mx-auto ">
    <ul class="pagination">
      <li class="page-item" [ngClass]="{disabled: currentPage === 0 }">
        <a class="page-link" (click)="currentPage = currentPage - 1">Previous</a>
      </li>
      <li class="page-item" [ngClass]="{active: i === currentPage}" *ngFor="let item of infoImgList; let i = index">
        <a class="page-link" (click)="currentPage = i">{{i + 1}}</a>
      </li>
      <li class="page-item" [ngClass]="{disabled: currentPage === infoImgList.length - 1}">
        <a class="page-link" (click)="currentPage = currentPage + 1">Next</a>
      </li>
    </ul>
  </nav>
  <p class="font-monospace">{{infoImgList[currentPage].title}}</p>
  <img src={{infoImgList[currentPage].img}} class="roundedd-block mx-auto" alt="...">
</div>